################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OpenWeather.All/.vs
/OpenWeather.All/OpenWeather.Api/bin/Debug/netcoreapp2.2
/OpenWeather.All/OpenWeather.Api/obj
/OpenWeather.All/OpenWeather.Client/obj
/OpenWeather.All/OpenWeather.Remote/obj
/OpenWeather.All/OpenWeather.Client/bin/Debug/netcoreapp2.2
/OpenWeather.All/OpenWeather.Api/bin/OpenWeather.Api.xml
